# Build output
*.bin
*.disasm
*.elf
*.hex
*.map
*.o
*.d
*.a

# Editor temporary files
*~

# OS specific files
.DS_Store


#eclipse project files
.cproject
.project
.settings/
gdbserver.log
src/Segger_SystemView/Global.h
src/Segger_SystemView/SEGGER.h
src/Segger_SystemView/SEGGER_RTT.c
src/Segger_SystemView/SEGGER_RTT.h
src/Segger_SystemView/SEGGER_RTT_Conf.h
src/Segger_SystemView/SEGGER_SYSVIEW.c
src/Segger_SystemView/SEGGER_SYSVIEW.h
src/Segger_SystemView/SEGGER_SYSVIEW_Conf.h
src/Segger_SystemView/SEGGER_SYSVIEW_ConfDefaults.h
src/Segger_SystemView/SEGGER_SYSVIEW_Config_NoOS.c
src/Segger_SystemView/SEGGER_SYSVIEW_Int.h
